private/
build/
dist/
target/
.idea
*/cdserver.tests/in/
*/cdserver.tests/config/tmp/
*/cdserver.tests/tmp/
server.log
*.iml
nbactions.xml
# exclude eclipse
.settings/
.project
.classpath
#
*.bat
*.docx
*.vsd
*.vsdx
version.properties

